body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 30px;
    font-weight: normal;
}

.link {
    color: aquamarine;
    font-size: 28px;
}
h2 {
    font-weight: 300;
    font-size: 35px;
}
h4 {
     font-size: 21px;
}

.footer {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}